/*Fonts*/
@font-face {
	font-family: 'type_writer';
	src: url('../fonts/type_writer.eot');
	src: url('../fonts/type_writer.eot?#iefix') format('embedded-opentype'), url('../fonts/type_writer.woff2') format('woff2'), url('../fonts/type_writer.woff') format('woff'), url('../fonts/type_writer.ttf') format('truetype'), url('../fonts/type_writer.svg#type_writer') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 5px;
	height: 15px;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(255, 248, 220, 0.5);
}

::-webkit-scrollbar-thumb:vertical {
	height: 10px;
	background-color: rgba(0, 0, 0, 0.8);
}

/*Primary elements*/
body {
	color: cornsilk;
	font-size: 12px;
	font-family: 'type_writer';
	text-shadow: 1px 1px black;
	background-color: rgba(255, 248, 220, 0);
}

/*Background elements*/
.background {
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	box-shadow: inset 0 0 200px rgba(0, 0, 0, 0);
}

.background_logo {
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	box-shadow: inset 0 0 200px rgba(0, 0, 0, 0);
}

.logo_box {
	color: cornsilk;
	font-size: 120px;
	font-family: 'type_writer';
	text-shadow: 2px 2px 2px black;
	margin: auto;
	text-align: left;
	justify-content: center;
	align-items: center;
	height: 100%;
	display: flex;
	z-index: 999;
	opacity: 0.1;
	animation: animate_logo 5s infinite;
}

/*Contents*/
.content_box {
	margin: auto;
	text-align: left;
	justify-content: center;
	align-items: center;
	height: 100%;
	display: flex;
	z-index: 999;
}

.content_holder {
	width: 80%;
	height: auto;
	color: cornsilk;
	font-size: 14px;
	font-family: 'type_writer';
	text-shadow: 1px 1px black;
	background-color: rgba(255, 248, 220, 0.8);
	text-align: center;
	border-radius: 10px;
	overflow: auto;
	animation: enter_screen 1.5s 1;
}

.summary_title {
	color: cornsilk;
	font-size: 16px;
	text-transform: capitalize;
	font-family: monospace;
	text-shadow: 1px 1px black;
	text-align: left;
	background-color: rgba(50, 165, 30, 0.5);
	width: 100%;
	height: 20px;
	box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.8); /*right, down, blur, spread */
}

.summary_title:hover {
	color: cornsilk;
	font-size: 16px;
	text-transform: capitalize;
	font-family: monospace;
	text-shadow: 1px 1px black;
	text-align: left;
	width: 100%;
	height: 20px;
	background-color: rgba(50, 165, 30, 0.8);
	box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.5); /*right, down, blur, spread */
	transition: 500ms;
}

.details_text {
	color: #7d7246;
	padding-left: 10px;
	padding-top: 10px;
	font-family: monospace;
	text-shadow: 1px 1px black;
	text-align: left;
}

hr {
	background-color: rgba(102, 176, 150, 0.2);
	width: 100%;
	height: 1px;
}

/*Inputs*/
textarea {
	color: #443e26;
	font-size: 16px;
	font-family: monospace;
	padding-top: 25px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	border-radius: 50px;
	background-color: rgba(255, 248, 220, 0.5);
	display: none;
}

input {
	color: #443e26;
	font-size: 16px;
	font-family: monospace;
	text-shadow: 1px 1px black;
	width: 95%;
	height: 32px;
	text-align: center;
	box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.8); /*right, down, blur, spread */
	border-radius: 10px;
	background-color: rgba(255, 248, 220, 0.5);
}

/*Buttons*/
.button_main_menu {
	color: cornsilk;
	font-size: 16px;
	text-transform: capitalize;
	font-family: 'type_writer';
	text-shadow: 1px 1px black;
	text-align: center;
	background-color: rgba(50, 165, 30, 0.5);
	width: 95%;
	height: 50px;
	box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.8); /*right, down, blur, spread */
	border-radius: 50px;
}

.button_main_menu:hover,
.button_main_menu:focus {
	color: cornsilk;
	font-size: 22px;
	text-transform: capitalize;
	font-family: 'type_writer';
	text-shadow: 1px 1px black;
	text-align: center;
	width: 95%;
	height: 50px;
	box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.8); /*right, down, blur, spread */
	border-radius: 10px;
	transition: 500ms;
}

/*Animations*/
@keyframes enter_screen {
	0% {
		opacity: 0;
		margin-bottom: 10000px;
	}

	100% {
		opacity: 1;
		margin-bottom: 0px;
	}
}

@keyframes animate_logo {
	0% {
		opacity: 0.1;
		transform: scale(1);
	}
	50% {
		opacity: 0.2;
		transform: scale(1.2);
	}
	100% {
		opacity: 0.1;
		transform: scale(1);
	}
}

/*Global*/
* {
	transition: 300ms;
}
